@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0 1rem;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

section {
  width: 1200px;
  max-width: 100%;
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
span {
  color: #474e68;
}
.form-type {
  border-style: none;
  background-color: transparent;
  margin: 1rem 0;
  font-size: 1rem;
  color: #3e54ac;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-type img {
  width: 1rem;
  height: 1rem;
  color: #3e54ac;
  margin-left: 0.3rem;
}

input {
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.3rem;
  border-width: 1px;
  font-size: 1.2rem;
  padding: 0 1rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

#monthlyPayment{
	padding: 0;
}

.calculate-by-payment{
	display: flex;
	align-items: center;
	margin: 0 0 1rem 0;
}

.calculate-by-payment button{
	color: #3e54ac;
	background-color: transparent;
	border-style: none;
	margin-left: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}

.disabled-input{
	display: none;
}

.input-container.money input {
  padding: 0 2rem;
}

.input-container {
  position: relative;
  width: min-content;
}

.input-container.money span {
  position: absolute;
  top: 55%;
  left: 1rem;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.input-container.percent span {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(-1rem, -50%);
  font-size: 1.2rem;
}

.bothXContent {
  position: relative;
  width: min-content;
}

.bothXContent input {
  padding: 0 2rem;
}

.bothXContent .leftSpan {
  position: absolute;
  top: 55%;
  left: 1rem;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.bothXContent .rightSpan {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(-1rem, -50%);
  font-size: 1.2rem;
}

.money-input::first-letter {
  content: '$';
  font-size: 2rem;
  color: red;
}

label::after {
  content: '*';
  color: #df2e38;
  font-size: 1.2rem;
}

.result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.result-container p {
  font-size: 2rem;
}

.result-container strong {
  font-size: 4rem;
  margin: 1rem 0 2rem;
}

.result-container strong::before {
  content: '$';
}

.result-container input {
  width: 500px;
  max-width: 100%;
  cursor: grab;
}

.checkbox-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-container input {
  width: 1.5rem;
  margin: 0;
  margin-right: 1rem;
  border-radius: 0.3rem;
  border-width: 1px;
}

.checkbox-container label {
  margin: auto 0;
}

.advancedFormContainer {
  display: none;
}
.advancedFormContainer.showAdvanceForm {
  display: block;
}

.monthly-payment-information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.monthly-payment-information img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.monthly-payment-information div {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.monthly-payment-information div div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.monthly-payment-information strong {
  font-size: 1.8rem;
  margin: 0;
}

.monthly-payment-information p {
  font-size: 1.3rem;
}

.debt-to-ratio-information strong::after {
  content: '%';
}

.debt-to-ratio-information strong::before {
  content: '';
}

.label-and-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.question-btn {
  width: 0;
  height: 0;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  border: 1px solid #3e54ac;
  color: #3e54ac;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.question-btn:hover {
  background-color: #d8d8d8;
}

.popup-container {
  /* background-color: aqua; */
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  top: 2.2rem;
  left: -1rem;
  z-index: 10;
  width: 20rem;
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 6px 6px 23px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 23px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 23px 5px rgba(0, 0, 0, 0.75);
}

.popup.popup-off {
  display: block;
}

.triangle {
  width: 4rem;
  height: 2rem;
  background-image: linear-gradient(to bottom right, transparent 50%, white 0),
    linear-gradient(to top right, white 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  position: absolute;
  top: -0.8rem;
}

.popup-head {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
  padding: 1rem;
  border-bottom: 1px solid black;
}
.popup button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup img {
  width: 1.3rem;
}

.popup-body {
  padding: 0.8rem 1rem;
  line-height: 1.5;
}
